/*Google's Custom font style'*/
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
/*Grid sizing*/
*{
    box-sizing: border-box;
    /*border: 1px solid red;*/
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    /*border: 1px solid lightgrey;*/
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.col-option{
    margin-top: 100px;
    display: block;
}
/*HTML-page background all light grey and all-round font-family Raleway @ 15 px*/
html{
    height:100%;
    font-size : 12px;
    font-family: 'Raleway';
    color:#777;
}

.bg-image1{
    /*Background image*/
    background-image: url("img/The_Great_Wave_off_Kanagawa.jpg");
    /*height*/
    min-height: 500px;
    width: 100%;

    /*background to make an parallex*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.container-main{
    margin-top: 10px;
    height:auto;
    width: 100%;
    border-color: black;
}
.pr-container{
    padding: 15px;
    margin:auto;
    width: 30%;
    height: auto;
    top:0;
    bottom:0;
    left:0;
    right:0;

}

.container-small{
    text-align: center;
    padding: 10px;
    margin: auto;
    display:inline-block;
    /*min-height: 800px;*/
    height: 600px;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

.pr-image{
    display: block;
    background-image: url("img/profile-img.png.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius:15px 50px 30px;
    box-shadow: 10px 10px lightgrey;
    margin-top: 50px;
    /*padding: 5px;*/
    height: 100%;
    width: 100%;

    /*max-height: 60%;*/
}

span {
    font-weight: bold;
    color: red;
}

.port-image{
    background-repeat: no-repeat;
    background-color: blue;
    background-size: contain;
    margin:auto;
    width: 100%;
}
.pr-image-1{
    background-image: url("img/JPN.jpg");
    height: 700px;
}
.pr-image-2{
    background-image: url("img/HK.jpg");
    background-size: cover;
    background-position: 100% 100%;
    height: 700px;

}
.pr-image-3{
    background-image: url("img/bled.jpg");
    background-size: cover;
    background-position: 50% 50%;
    height: 800px;
}

.pr-image-4{
    background-image: url("img/hk2.jpg");
    /*background-size: cover;*/
    /*width: 100%;*/
    /*overflow: hidden;*/
    /*height: 1000px;*/
}
.p-plus{
    font-size: 1.17em;
}